ul {
  list-style: none;
}

.gallery-image {
  height: 100;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.photo-card {
  margin-bottom: 20px;
}

.gallery-image {
  width: auto;
  height: 250px;
}

.stats {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

input {
  display: block;
  margin: 0 auto;
}

.load-more {
  display: block;
  margin: 0 auto;
}
.is-hidden {
  display: none;
}
